:root {
    --clr-neutral-400: hsl(12, 88%, 59%);
    --clr-neutral-100: hsl(13, 100%, 96%);
  
    --clr-primary-400: hsl(228, 39%, 23%);
  
    --clr-neutral-100: hsl(232, 12%, 13%);
    --clr--neutral-900: hsl(0, 0%, 0%);
  
    
    --ff-primary: font-family: 'Be Vietnam Pro', sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);
  
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 900;
    
    --fs-300: .8125rem;
    --fs-400: .875rem;
    --fs-500: 1rem;
    --fs-600: 1.875rem;
    --fs-700: 2.5rem;
   }
  
   .fs-500 {
    font-size: var(--fs-500);
   }
  
   .fw-bold {
    font-weight: var(--fw-bold);
   }

   * {
    box-sizing: border-box;
   }

   body {
    background-color: rgb(118, 46, 118);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
   }

   .container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    width: 500px;
    max-width: 100%;
    overflow: hidden;
   }

   .header {
    background-color: #f7f7f7;
    border-bottom: 1rem ridge #8e44ad;
    padding: 20px 40px;
   }

   .header h2 {
    margin: 0;
    font-size: var(--fs-600);
    font-weight: var(--fw-semi-bold);
    text-align: center;
   }

   .form {
    padding: 30px 30px;
   }

   .form-item {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
   }

   .form-item label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 1.2rem;
   }

   .form-item input {
    border: 2px solid #d6d6d6;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 10px;
    width: 100%;
   }

   .form-item small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
   }

   .form button {
    background-color: #8e44ad;
    border: 2px solif #8e44ad;
    border-radius: 4px;
    color: #fff;
    font-family: inherit;
    display: block;
    width: 100%;
    font-size: 1.25rem;
    padding: 10px;
   }

   .form-item.success input {

   }

   .form-item.success input {
    
  }